<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hs.sj.qna.QnaDAO">
  
  	<select id="getQnaList" resultType="QnaDTO">
  		SELECT * FROM QNA 
  		ORDER BY NUM DESC
  	 </select>
  	 
  	 <select id="getQnaDetail" parameterType="QnaDTO" resultType="QnaDTO">
  	 	SELECT * FROM QNA
  	 	WHERE NUM = #{num}
  	 </select>
  	 
  	 <insert id="setQnaAdd" parameterType="QnaDTO">
  	 	<selectKey keyProperty="qnaNum" order="BEFORE" resultType="Long">
  	 		SELECT QNA_SEQ.NEXTVAL FROM DUAL
  	 	</selectKey>
  	 	INSERT INTO QNA (NUM, TITLE, COMMENTS, WRITER, REGDATE, HIT)
		VALUES (#{num}, #{title}, #{comments}, #{writer}, SYSDATE, 0)
  	 </insert>
  	 
  	 <update id="setQnaHitAdd" parameterType="QnaDTO">
  	 	UPDATE QNA SET HIT = #{hit}+1 
  	 	WHERE NUM = #{num}
  	 </update>
  	 
  	 <update id="setQnaUpdate" parameterType="QnaDTO">
  	 	UPDATE QNA SET TITLE = #{title}, COMMENTS = #{comments}
  	 	WHERE NUM = #{num}
  	 </update>
  	 
  	 <delete id="setQnaDelete" parameterType="QnaDTO">
  	 	DELETE QNA WHERE NUM = #{num}
  	 </delete>
  		
  </mapper>